body {
  margin: 0 2rem;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.result {
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: bold;
}
.question {
  margin-top: 2rem;
}
.toptext {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgba(1, 77, 66, 0.801);
  font-weight: bold;
}
.home_link {
  text-align: center;
}
